#horizontal{
  width: 50%;
  height: 100%;
  float: right;
  background-color: #81C754;
  padding-top: 7em;
  text-align: center;
}

#vertical{
  width: 50%;
  height: 100%;
  float: left;
  background-color: #87287B;
  padding-top: 7em;
  text-align: center;
}

#horizontal h1{
  text-align: center;
  padding: 1em;
  width: 60%;
  font-family: 'Special Elite', cursive;
  border: 2px solid #458B18;
  color: #458B18;
  margin: auto
}

#vertical h1{
  text-align: center;
  padding: 1em;
  width: 60%;
  font-family: 'Special Elite', cursive;
  border: 2px solid #D79DD0;
  color: #D79DD0;
  margin: auto;
}

a{
  text-decoration: none;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

*{
  box-sizing: border-box;
}

base rgb: 9D4292