nav{
	position: fixed;
	left: 0;
	height: 100%;
	width: 18%;
	padding: 2%;
	background-color: #9d4292;
}

html{
	height: 99%;
}

body{
	height: 99%;
}

img{
	float: right;
	height: 200px;
	width: 200px;
}

#two{
	float: left;
	width: 95%;
	height: auto;
	margin-bottom: 25px;
	background-color: #9d4292;
}

#logo{
	float: left;
	width: 95%;
	height: auto;
	margin-bottom: 25px;
}

#sections{
	overflow: auto;
	padding: 15px;
	max-width: 100%;
}

header{
	text-align: center;
	background-color: #6c0d64;
	overflow: auto;
	color: white;
	width: 100%;
}

#quote{
	text-align: center;
	font-size: 30px;
}

#content{
	width: 78%;
	float: right;
}

a{
	text-decoration: none;
	font-size: 25px;
	background-color: #6c0d64;
	padding: 5px;
	color: white;
	width: 100%;
	float: left;
	margin: 30px 0px;
}

footer{
	text-align: center;
	background-color: #6c0d64;
	color: white;
	font-size: 18px;
}

#aboutimg{
	float: left;
}

#abouttext{
	overflow: auto;
}